.AppContainer {
  margin: 20px;
  padding: 20px;
}

.Card {
  background-color: white;
  color: cadetblue;
  padding: 20px 40px;
  margin: 10px 0;
  border-radius: 10px;
  max-width: 400px;
}

.VStack {
  display: flex;
  flex-direction: column;
}

.HStack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Column {
  flex: 1;
}

.CheckBox.undone {
  height: 20px;
  width: 20px;
  border: 1px solid cadetblue;
  border-radius: 20px;
}

.CheckBox.done {
  height: 20px;
  width: 20px;
  background-color: cadetblue;
  border-radius: 20px;
}

.Modal {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.Modal.show {
  display: flex;
}

.ModalContent {
  flex-direction: column;
  color: white;
}

.AddRecord {
  background-color: cadetblue;
  padding: 40px;
  border-radius: 20px;
}

.Line {
  border-bottom: 1px solid cadetblue;
}
