body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cadetblue;
  color: white;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  margin: 10px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

input::placeholder {
  color: white;
}


button {
  color: cadetblue;
  background-color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  width: auto;
  height: auto;
}

.CheckBoxDone {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.CheckBoxUndone {
  background-color: cadetblue;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px solid white;
}