body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cadetblue;
  color: white;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

input {
  padding: 10px;
  margin: 10px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

input::placeholder {
  color: white;
}

button {
  color: cadetblue;
  background-color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 700;
  width: auto;
  height: auto;
}
